.idea
.pytest_cache
__pycache__
.idea
.venv
.vscode
.pytest_cache
*/__pycache__
*.class
*.iml
python/venv
target/**d
/python/*/venv/
target
python/*/venv
target/*


/python/*/venv/*
/python/moderate/venv/
/lib/
