.idea
.pytest_cache
__pycache__
.idea
.venv
.vscode
.pytest_cache
*/__pycache__
*.class
*.iml
src/python/venv
target/**d
/src/python/*/venv/
target
src/python/*/venv
target/*


/src/python/*/venv/*
/src/python/moderate/venv/
/lib/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/logs.txt
